body {
    font-family: Arial, sans-serif;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background: linear-gradient(to right, #CAD5E3, #7B9FCF)
}

.bird-card {
    background: white;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    text-align: center;
}

.bird-card h3 {
    margin: 10px 0;
    color: #2c3e50;
}

.bird-card p {
    color: #7f8c8d;
    margin-bottom: 10px;
}
.error {color: red;
}

.success {
    color: green;
}
form div {
    margin: 10px 0;
}
label {
    display: inline-block;
    width: 120px;
}


.profile-photo{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(o,o,o,o.3);
}

.profile-photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-container{
    text-align: center;
}

.profile-name{
    margin-top: 10px;
    font-size: 18px;
    color: #333;
}
