<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link 
    rel="stylesheet" 
    href="{{ url_for('static', filename='style.css')}}">

</head>
<body>
    <header> 
        <h1>Welcome to our group project!</h1>
    </header>

    <nav>
        <a href="{{ url_for('Home') }}">Home Page</a>
        <a href="{{ url_for('mason') }}">Mason's Page</a>
        <a href="{{ url_for('jeremiah') }}">Jeremiah's Page</a>
        <a href="{{ url_for('profile') }}">Profile Form</a> |
        <a href="{{ url_for('feedback') }}">Feedback Form</a>
        <a href="{{ url_for('garrett') }}">Garrett's Page</a>
    </nav>
    <hr>
    {% block content %}{% endblock %}
</body>
</html>